
.master-grid-content-box .dx-datagrid {
  background-color: #fff7e6;
}

.master-grid-content-box .dx-toolbar {
  /*background-color: #fff7e6;*/
  background-color: #f3e5d8;
}

.master-grid-content-box .dx-datagrid-pager {
  background-color: #ffebcc;
}

.master-grid-content-box .dx-datagrid-headers {
  background-color: #ffebcc;
  color: #000;
  font-size: 16px;
}

.master-grid-content-box .dx-field-item-help-text {
  color: red;
}

.dx-popup-wrapper .dx-overlay-content .dx-popup-title {
  background-color: #fbeedc;
}



.master-grid-container {
  background: #e6f2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  width: 100%;
}

.master-grid-title-box {
  background: #3e3e3e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #e5f5f0;
  padding: 0px;
  margin: 0px;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
  border: none;
}

.master-grid-title-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #e5f5f0;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
  box-sizing: border-box;
  border: none;
}

.master-grid-content-box {
  width: 100%;
  background: #e6f2ff;
  display: flex;
  flex-direction: column;
  flex: 1;
  /*justify-content: center;*/
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.master-grid-params-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
}

.master-grid-params-switch-container {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  justify-content: flex-end; 
  padding-right: 10px;
}

.master-grid-params-switch-label {
  padding-right: 5px;
}

.master-detail-top-panel {
  display: flex; 
  flex-direction: row; 
  width: 100%; 
  height: 40; 
  background: #f7f7f7; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.master-detail-body-type1 {
  display: flex; 
  flex: 1; 
  flex-direction: row; 
  width: 100%; 
  justify-content: center;
}

.master-detail-top-panel-button-container {
  display: flex; 
  flex: 1;
  justify-content: flex-start; 
  align-items: center; 
  padding-left: 5;
}

.master-form-without-popup {
  display: flex; 
  flex: 1; 
  flex-direction: column; 
  width: 100%; 
  justify-content: flex-start;
  align-items: center;
}


.search-grid-box-container {
  display: flex;
  border: 1px solid #e6e6e6;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
}

.search-grid-button-container {
  height: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-grid-single-button-container {
  display: flex; 
  flex: 1; 
  justify-content: center;
}

.master-grid-container .dx-item-content .groupRightClass   {  
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}  

.groupBottomClass .dx-form-group-content .master-grid-content-box1 {  
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
  padding-bottom: 10px;
}  
