
#presto-liveDropDown .dx-buttongroup-item  {
  background-color: #d6f5d6;
}

#presto-trialDropDown .dx-buttongroup-item  {
  background-color: #ffcccc;
}

#presto-riksjaDropDown .dx-buttongroup-item  {
  background-color: #ccebff;
}

